.Block1OurWorkContentExpand {
  width: 7%;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
  position: relative;
  margin-right: 5%;
  margin-left: auto;
  margin-bottom: 5%;
  margin-top: auto;
}
.Block1OurWorkContentExpand:hover {
  width: 9%;
}
.Block1OurWorkContentCloseActive {
  background-color: silver;
  transition: 0.4s;
  border: none;
  font-size: 7px;
  border-radius: 50%;
  visibility: visible;
  transition: 0.7s;
  position: relative;
  margin-right: 2%;
  margin-left: auto;
  margin-top: 2%;
}
.Block1OurWorkContentCloseActive:hover {
  background-color: rgb(235, 109, 109);
  transition: 0.4s;
}
.Block1OurWorkContentClose {
  visibility: hidden;
}
.Block1OurWorkPhoto {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 15rem;
  flex: 1 0 20rem;
  max-width: 25rem;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media (max-width: 450px) {
  .Block1OurWorkPhoto {
    height: 10rem;
    flex: 1 0 15rem;
  }
}
.Block1OurWorkPhoto .Block1OurWorkContent {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  margin-top: 3em;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}

.Block1OurWorkPhoto:hover {
  transition: 0.7s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 1;
}
.Block1OurWorkPhoto:hover .Block1OurWorkContent {
  background-color: silver;
  visibility: visible;
  transition: 0.7s;
  opacity: 1;
}

.Block1OurWorkPhoto:hover .Block1OurWorkContentExpand {
  visibility: visible;
  opacity: 1;
  transition: 0.7s;
}
.Block1OurWorkPhotoExpand {
  transition: 1s;
  position: fixed;
  top: 40%;
  margin: auto;
  width: 100%;
  transform: scale(2);
}
